body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    .menu {
        background-color: #6ecadc;
        opacity: 0.7;
        grid-column-start: 1;
        grid-column-end: 1;

        .menu-trigger {
            display: inline-block;
            transition: all .4s;
            box-sizing: border-box;
            position: relative;
            width: 100%;
            height: 45px;

            span {
                display: inline-block;
                transition: all .4s;
                box-sizing: border-box;

                position: absolute;
                left: 0;
                width: 100%;
                height: 4px;
                background-color: black;
                border-radius: 4px;
            }

            span:nth-of-type(1) {
                top: 0;
            }

            span:nth-of-type(2) {
                top: 20px;
            }

            span:nth-of-type(3) {
                bottom: 0;
            }
        }

        .menu-trigger:focus span:nth-of-type(1),
        .menu-trigger:focus span:nth-of-type(3) {
            width: 20px;
        }

        .menu-trigger:focus span:nth-of-type(1) {
            -webkit-transform: translate(-1px, 13px) rotate(-45deg);
            transform: translate(-1px, 13px) rotate(-45deg);
        }

        .menu-trigger:focus span:nth-of-type(3) {
            -webkit-transform: translate(-1px, -13px) rotate(45deg);
            transform: translate(-1px, -13px) rotate(45deg);
        }

        .slide-menu {
            display: none;
        }


    }

    .lists {
        grid-column-start: 2;
        grid-column-end: 6;
    }
}